/* .heading-class{
    color: blue;
    text-decoration: double;
    background-color: burlywood;
}
body{
    background-color: antiquewhite;
}
button{
    background-color: aquamarine;
    color: red;
} */